/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree.
 *= require_self
 */

body{
    background-color: #e0ffff;
    font-family: Helvetica, sans-serif;
}
#sidebar {
    position: sticky;
    top: 0;
    width: 350px;
    float: left;
}

#sidebar p{
    text-align: right;
}

#content{
    max-width:700px;
    min-width:100px;
    margin-left: auto;
    margin-right: auto;
}

#content p{
    margin-top: 1.5%; 
    margin-bottom: 1.5%;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
}
#header_top{
    text-align: center;
}

#header_top p a{
    color: #000;
    text-decoration: none;
}

#content p a{
    color: #000;
    text-decoration: none;
}

#sidebar p a{
    text-decoration: none;
    color: #000;
}

#header_top p a:hover{
     background-color: #99CCFF;
    color: white;
}

#content p a:hover{
     background-color: #99CCFF;
    color: white;
}

#sidebar p a:hover{
    background-color: #99CCFF;
    color: white;
}
